{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@src": "./src",
          "@public": "./public",
          "@components": "./src/Components",
          "@hooks": "./src/Hooks"
        }
      }
    ]
  ]
}
